body {
  margin: 20px 80px;
  font-family: Georgia, serif;
  color: #333;
  background-color: #fff;
  text-align: justify;
}

h1 {
  font-size: 2rem;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  color: #000;
  text-align: center;
}

p {
  font-size: 1.25rem;
  color: #000;
}

.introduction {
  text-align: center;
}

.quote {
  text-align: center;
  font-style: italic;
}

nav {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
}

a {
  font-size: 1rem;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #2255CC;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: #441199;
  text-decoration: underline;
}
