body {
  margin: 20px 80px;
  font-family: Georgia, serif;
  color: #333;
  background-color: #fff;
  text-align: justify;
}

h1 {
  font-size: 3rem;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  color: #000;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin: 10px 0;
  color: #000;
}

p {
  font-size: 1rem;
  color: #000;
}

.introduction {
  text-align: center;
}

.quote {
  text-align: center;
  font-style: italic;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  background-color: #fff;
}

a {
  font-size: 1rem;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #2255CC;
  text-decoration: none;
}

a:hover {
  color: #441199;
  text-decoration: underline;
}

.post h2 a {
  font-size: 1rem;
  color: #000;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.post h2 a:hover {
  font-size: 1rem;
  color: #000;
  text-decoration-style: solid;
}
