<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [
            [ '$', '$' ],
            [ '\\(', '\\)' ]
        ],
        displayMath: [
            [ '\\[', '\\]' ],
            [ '$$', '$$' ]
        ],
        processEscapes: true, // Use \$ for dollar sign
        },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  <script src="/assets/js/main.js"></script>

  <meta name="google-site-verification" content="0NSmk-B0OX2erPswqUrL4i7IVApCaU9-Lhw5CC6Uq_E" />

  <link rel="icon" type="image/png" href="/assets/images/boys-surface.png">
</head>
<body>
  <a href="/index.html" class="logo function">
    <img src="/assets/images/boys-surface.png" class="logo" alt="Boy's Surface">
  </a>
  <button id="theme-toggle" class="function" aria-label="Toggle Theme">
    <svg id="theme-icon" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>ic_fluent_dark_theme_24_regular</title>
        <desc>Created with Sketch.</desc>
        <g id="🔍-Product-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="ic_fluent_dark_theme_24_regular" fill="currentColor" fill-rule="nonzero">
                <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M12,20.5 L12,3.5 C16.6944204,3.5 20.5,7.30557963 20.5,12 C20.5,16.6944204 16.6944204,20.5 12,20.5 Z" id="🎨-Color">
                </path>
            </g>
        </g>
      </svg>
  </button>
  <nav class="font3">
    <a href="/math.html">NOTES</a>
    <span>•</span>
    <a href="/talks.html">TALKS</a>
    <span>•</span>
    <a href="/nonmath.html">NON-MATH</a>
    <span>•</span>
    <a href="/contact.html">CONTACT</a>
    <span>•</span>
    <a href="/rolls.html">ROLLS</a>
    <span>•</span>
    <a href="/feed.xml">RSS</a>
  </nav>
  <main>
    {{ content }}
  </main>
</body>
</html>
