<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">

  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

  <meta name="google-site-verification" content="0NSmk-B0OX2erPswqUrL4i7IVApCaU9-Lhw5CC6Uq_E" />
</head>
<body>
  <a href="/index.html" style="position: fixed; top: 50px; left: 50px; z-index: 1000;">
  <img src="/assets/images/boys-surface.png" class="logo" alt="Boy's Surface" style="height: 60px;">
  </a>
  <nav>
    <a href="/math.html">NOTES</a>
    <span>•</span>
    <a href="/talks.html">TALKS</a>
    <span>•</span>
    <a href="/nonmath.html">NON-MATH</a>
    <span>•</span>
    <a href="/contact.html">CONTACT</a>
  </nav>
  <main>
    {{ content }}
  </main>
</body>
</html>